beautifulsoup4
html5lib
requests
Flask
Flask-SQLAlchemy
Flask-Login
datetime
numpy
streamlit
pandas
-f https://data.pyg.org/whl/torch-1.13.0+cpu.html
torch
transformers
huggingface-hub
tqdm
scikit-learn
matplotlib
nltk