text {
    font-family: "Roboto", sans-serif;
}

#problem_display {
    width: 75vw;
}

#choices {
    width: 75vw;
    /* display: flex; */
}

.choice {
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    width: 15vw;
}

.choice button {
    margin-left: .5em;
    margin-right: .5em;
}