{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block main %}
<div id="login">
    <a href="/register">No account? Create a new one</a>
    <div>
        <h1>Login to your account</h1>
        {% if user_not_found %}
            <p class="warning">An account with matching username/email and password could not be found.</p>
        {% endif %}
        <form action="#" method="post" id="login_form">
            <label for="identifier">Username/Email:</label>
            <input type="text" name="identifier" />
            <label for="password">Password:</label>
            <input type="password" name="password" />
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}