{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block main %}
{% if user_not_found %}
    <p>An account with matching username/email and password could not be found.</p>
{% endif %}
<a href="/register">No account? Create a new one</a>
<h1>Login to your account</h1>
<form action="#" method="post">
    <label for="identifier">Username/Email:</label>
    <input type="text" name="identifier" />
    <label for="password">Password:</label>
    <input type="password" name="password" />
    <button type="submit">Submit</button>
</form>
{% endblock %}