{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block main %}
<div id="login">
    <a href="/register">No account? Create a new one</a>
    <div>
        <h1>Login to your account</h1>
        <form action="#" method="post" id="login_form">
            {% if 'no_match' in errors %}
                <p class="warning">An account with matching username/email and password could not be found.</p>
            {% endif %}
            {% if 'email_unverified' in errors %}
                <p class="warning">Please verify your email using the link sent to your inbox. 
                    <input type="submit" value="Resend verification link" name="send_verification"></p>
            {% endif %}
            <label for="identifier"">Username/Email:</label>
            <input type="text" name="identifier" value="{{inputs['identifier']}}"/>
            <label for="password">Password:</label>
            <input type="password" name="password" value="{{inputs['password']}}"/>
            <input type="submit" value="Submit" name="login">
        </form>
    </div>
</div>
{% endblock %}