{% extends 'base.html' %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block main %}
<h1>Profiles</h1>
<div>
    <h2>Your Profiles</h2>
    <form method="post">
        <table id="profile_options">
            <tr>
                <th></th>
                <th>Profile Name</th>
                <th>Date Created</th>
                <th>Last Active</th>
            </tr>
            {% for profile in profiles %}
                <tr>
                    <td>
                        {% if profile.id == current_profile %}
                            <input type="radio" name="profile_choices" id="current_profile" disabled checked>
                        {% else %}
                            <input type="radio" name="profile_choices" value="{{profile.id}}">
                        {% endif %}
                    </td>
                    <td>{{profile.name}}</td>
                    <td>{{profile._date_created()}}</td>
                    <td>{{profile._last_active()}}</td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit" name="change_profile" disabled>Change profile</button>
        <script>
            var submit_button = document.getElementsByName('change_profile')[0];
            var selections = document.getElementsByName('profile_choices');
            for (selection in selections) {
                selections[selection].onclick = function() {
                    submit_button.disabled = false;
                    console.log('a')
                }
            }
        </script>
        <!-- add profile rename -->
    </form>
</div>
<div>
    <h2>Create a New Profile</h2>
    <form method="post">
        <label for="profile_name">Profile name:</label>
        <input type="text" name="profile_name" id="profile_name"/>
        <button type="submit" name="create_profile">Create profile</button>
    </form>
</div>
{% endblock %}