{% extends 'base.html' %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block main %}
<a href="/login">Already have an account? Login</a>
<h1>Create an account</h1>  
{% if not username_unique %}
    <p>This username already exists. Please use a different username.</p>
{% endif %}
<form action="#" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" />
    <label for="password">Password:</label>
    <input type="password" name="password" />
    <button type="submit">Submit</button>
</form>
{% endblock %}