{% extends 'base.html' %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block main %}
<div id="register">
    <a href="/login">Already have an account? Login</a>
    <div>
        <h1>Create an account</h1>  
        {% if 'username_exists' in errors %}
            <p class="warning">This username already exists. Please <a href="/login">login</a> or use a different username.</p>
        {% endif %}
        {% if 'email_exists' in errors %}
            <p class="warning">This email is already registered with an account. Please <a href="/login">login</a> or use a different email.</p>
        {% endif %}
        {% if 'invalid_email' in errors %}
            <p class="warning">This email is invalid. Please enter a valid email.</p>
        {% endif %}
        {% if 'incorrect_code' in errors %}
            <p class="warning">The verification code you have entered was invalid. Please try again</p>
        {% endif %}
        <form action="#" method="post" id="register_form">
            <label for="email">Email:</label>
            <input type="text" name="email" value="{{inputs['email']}}"/>
            <label for="username">Username:</label>
            <input type="text" name="username" value="{{inputs['username']}}"/>
            <label for="password">Password:</label>
            <input type="password" name="password" value="{{inputs['password']}}"/>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}